#hero {
    background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-size: cover;
}

#hero-one {
    border-top: medium solid ;
    border-bottom: medium solid;
    margin-top: 100px;
    margin-bottom: 100px;
    background-size: cover;
}